@charset "ISO-8859-1";

body {
    background-color: lightblue;
    text-align: center;
}

.otterContainer {
	margin: 0 auto;
	width: 650px; 
}
.otterPic {
	float:left;
}
.container {
	position:relative;	
}

#myOtterButton{
	float:left;
	position:relative;
	margin-top:180px;
	color: white;
	background-color: blue;
}

#demo {
	color: darkred;
}

.clearfix{
    clear:both
}