@charset "ISO-8859-1";

body {
    background-image: url("pics/waterBG.jpg");
    text-align: center;
    font-size:3vw;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
	
}

#sumArrayButton {
	cursor: pointer;
}

#numberRangeButton {
	cursor: pointer;
}