@charset "ISO-8859-1";

body {
    background-image: url("pics/waterBG.jpg");
    text-align: center;
    font-size:2.5vw;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 50px;
}

input {
	margin: 50px;
	font-size:2vw;
}

button {
	font-size:2vw;
}

p {
	width: 70%;
	margin: auto;
	background-color: lightblue;
}

input:focus {
	background-color: black;
	color: white;
}

p.one {
	width: 500px;
	margin: auto;
	background-color: lightblue;
	display: none;
}

p.two {
	width: 500px;
	margin: auto;
	background-color: lightblue;
	display: none;
}

p.three {
	padding: 15px;
	width: 85%;
	margin-top: 20px;
	background-color: lightblue;
}

a:hover {
	color: black;
	background-color: white;
}

a {
	padding: 5px;
	border-style: solid;
	background-color: lightblue;
}

i {
	color:black;
}

#nOne {
	font-size:64px;
}

#nTwo {
	font-size:48px;
}

#nThree {
	font-size:48px;
}

#sumArrayButton {
	cursor: pointer;
}

#numberRangeButton {
	cursor: pointer;
}