@charset "ISO-8859-1";

body {
    background-image: url("pics/waterBG.jpg");
    text-align: center;
    font-size:3vw;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 50px;
}

input {
	margin: 50px;
	font-size:2vw;
}

button {
	font-size:2vw;
}

p {
	width: 70%;
	margin: auto;
	background-color: lightblue;
}

p.one {
	width: 500px;
	margin: auto;
	background-color: lightblue;
	display: none;
}

p.two {
	width: 500px;
	margin: auto;
	background-color: lightblue;
	display: none;
}

p.three {
	padding: 15px;
	width: 85%;
	margin: auto;
	background-color: lightblue;
}

a {
	padding: 5px;
	border-style: solid;
	background-color: lightblue;
}

#sumArrayButton {
	cursor: pointer;
}

#numberRangeButton {
	cursor: pointer;
}